.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
data/inputs_extracted/*
data/~$*
scripts/private_info.R
scripts/pers_*
*.JPG
!crossing_all.JPG
!*_k_*
*.gpkg-wal
*.gpkg-shm
#data/raw_input
#docs/Elk.tex
docs/Skeena2021.html
Skeena2021.html
*~$*
#*.sqlite
#hold
*.Kmz
*.kml
data/photos/**/*.pdf
!fig/*.JPG

